<h3>
سوابق تحصیلی
</h3>
<table>
    <thead>
        <tr>
            <td>
نام واحد آموزشی
            </td>
            <td>
رشته تحصیلی
            </td>
            <td>
مقطع تحصیلی
            </td>
            <td>
تاریخ
            </td>
        </tr>
    </thead>
    <tbody>
        {% for eb in educationalBackground %}
            <tr>
                <td>{{ eb.irebname|e }}</td>
                <td>{{ eb.irebfield|e }}</td>
                <td>{{ eb.irebgrade|e }}</td>
                <td>{{ eb.irebdate|e }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

<h3>
سوابق شغلی و حرفه ای
</h3>
<table>
    <thead>
        <tr>
            <td>
سمت
            </td>
            <td>
نام سازمان / شرکت
            </td>
            <td>
شرح
            </td>
            <td>
تاریخ
            </td>
        </tr>
    </thead>
    <tbody>
        {% for pb in professionalbackground %}
            <tr>
                <td>{{ pb.irpbposition|e }}</td>
                <td>{{ pb.irpbcompanyname|e }}</td>
                <td>{{ pb.irpbdesc|e }}</td>
                <td>{{ pb.irpbdate|e }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

<h3>
سوابق سخنرانی / پژوهش / تالیف
</h3>
<table>
    <thead>
        <tr>
            <td>
موضوع پژوهش
            </td>
            <td>
محل ارائه / انتشار
            </td>
            <td>
تاریخ
            </td>
        </tr>
    </thead>
    <tbody>
        {% for lrr in lectureResearchRecords %}
            <tr>
                <td>{{ lrr.irlrsubject|e }}</td>
                <td>{{ lrr.irlrplacepresentation|e }}</td>
                <td>{{ lrr.irlrdate|e }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>
